:root {
  --normal: rgb(168, 167, 122);
  --fighting: rgb(193, 47, 40);
  --flying: rgb(158, 193, 245);
  --poison: rgb(160, 64, 160);
  --ground: rgb(224, 192, 104);
  --rock: rgb(184, 160, 56);
  --bug: rgb(168, 184, 32);
  --ghost: rgb(112, 88, 152);
  --steel: rgb(184, 184, 208);
  --fire: rgb(240, 128, 48);
  --water: rgb(104, 144, 240);
  --grass: rgb(120, 200, 80);
  --electric: rgb(248, 208, 48);
  --psychic: rgb(248, 88, 136);
  --ice: rgb(152, 216, 216);
  --dragon: rgb(112, 56, 248);
  --dark: rgb(112, 88, 72);
  --fairy: rgb(238, 153, 172);
  --shadow: rgb(0, 0, 0);
  --unknown: rgb(160, 160, 160);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}
