.pokedex-container {
  width: 380px;
  aspect-ratio: 10 / 16;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: cornflowerblue;
  border: 1px lightgrey solid;

  .pokedex {
    width: 100%;
    text-align: center;
    font-size: 1.625rem;
    line-height: 200%;
    border-bottom: 1px lightgray solid;
  }

  .children {
    width: 100%;
    flex: 1 0 0;
    overflow: hidden;
  }

  .bottom-panel {
    width: 100%;
    height: max-content;
    padding: 10px;
    border-top: 1px lightgray solid;
    display: flex;
    gap: 10px;

    > * {
      flex: 1 0 0;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
    }

    > *:nth-child(1) {
      background-color: #ffffff;
      color: #6495ed;
      outline: 1px solid #6495ed;

      &:hover {
        background-color: #ececec;
        color: #6495ed;
      }
    }

    > *:nth-child(2) {
      background-color: #6495ed;
      color: #ffffff;

      &:hover {
        background-color: #5781ce;
        color: #ffffff;
      }
    }
  }
}
