.pokemon-list-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .pokemon-list {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
