@import './scss/variables.scss';
@import './scss/mixin.scss';

div.poke-pokemon-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .pokemon-container {
    width: 100%;
    flex: 1 0 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;

    @for $i from 1 through 4 {
      > *:nth-child(#{$i}) {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        transform: translateX(200%);

        @include animationMove(calc(#{$i} * 0.2s));
      }
    }

    .poke-container,
    .sprites-container,
    .abilities-container,
    .evolutions-container {
      .text {
        h1 {
          font-size: 1.75rem;
          line-height: 1.75rem;
        }
      }
    }

    .poke-container {}

    .sprites-container {
      .sprites {
        border: $border;
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;

        > img {
          width: 150px;
        }
      }
    }

    .abilities-container {
      .abilities {
        width: 100%;
        border: $border;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        padding: 10px;

        .no-abilities {
          color: #DC143C;
        }

        > span {
          font-size: 1.2rem;
          line-height: 1.2rem;
        }
      }
    }

    .evolutions-container {
      .no-evolution {
        color: #DC143C;
      }

      .evolutions {
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.2rem;
        gap: 5px;
        padding: 5px;
      }
    }
  }
}
